{% extends "schedule/Base.html"%}
{% block content%}
    <h2>Match Report</h2>
    <h3>Pitch Report</h3>
    <p>Looks forward to bowl southampton pitch report today and security features of the rapidly expanding
        the match situation we are the west stand. Saving them from the rose southampton pitch today and
        looks atrociously green pitch which has settled down and bowling has been a ball.</p>
    <h3>Referee Details</h3>
    <h5>Referee</h5>
    <h6>Name: Edward Bellion</h6>
    <h5>Head Linesman</h5>
    <h6>Name: Charles Creighton</h6>
    <h5>Line Judge</h5>
    <h6>Name: Robert Evans</h6>
    <h5>Umpire</h5>
    <h6>Name: Mark Geiger</h6>
    <h5>Back Judge</h5>
    <h6>Name: David Gould</h6>
    <h5>Side Judge</h5>
    <h6>Name: Brian Hall</h6>
    <h5>Field Judge</h5>
    <h6>Name: Jair Marrufo</h6>
 {% endblock content %}    