
{% extends "schedule/Base.html"%}


{% block content%}
<centre>
<h2>Tournament Points Table</h2>

<table border="1">
    <tr>
        <th>Team Name</th>
        <th>Wins</th>
        <th>Loss</th>
        <th>Draw</th>
        <th>Played Matches</th>
        <th>Matches to be Played</th>
        <th>Total Matches</th>
    </tr>
    <tr> 
        <td>The Red Devils</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <td>2</td>
        <td>1</td>
        <td>3</td>
    </tr>
    <tr> 
        <td>Arsenal Gunners</td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr> 
        <td>FC Santa Claus</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <td>2</td>
        <td>1</td>
        <td>3</td>
    </tr>
    <tr> 
        <td>Club Always Ready</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
    </tr>
</table>
</centre>
{% endblock content %}    